@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: 'ubuntu';
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* overflow-x: hidden; */
    max-width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    background-image: url(images/bgpic3.png);
    background-size: cover;
}
/* .navbar{
    position: fixed;
} */
.homebtn i{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: crimson;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size:35px;
}
.navbar{
    width: 100vw;
}
.navbar nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    background-color: transparent;
    position: fixed;
}

nav ul{
    padding: 0px 100px 0px 20px;
}
nav h3{
    padding-left: 20px;
    color: white;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding-left: 50px;
    transition: 0.5s;

}
nav ul li a:hover{
    color: crimson;
    transform: scale(1.5);

}
.home{
    height: 100vh;
    width: 100;
    justify-content: center;
    align-items: center;
}
.home-text{
    padding-top: 200px;
    padding-left: 140px;
    color: white;
}
.text-1 p{
    color: white;
    font-size: 30px;
    
}

.text-2 p{
    color: white;
    font-size: 50px;
}
.text-3 p{
    font-size: 30px;

}
.text-3 span{
    color: crimson;
}

/* Home-btns */

.cvbtn{
    margin-right: 50px;
    border-color: white;
    padding: 10px 25px;
    color: white;
    background:transparent;
    border-radius: 15px;
    border-width: 2px;
    cursor: pointer;
}
.cvbtn a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}


.cvbtn a:hover{
    color: crimson;
}

.buttons{
    margin-top: 60px;
    margin-left: 160px;
}


/* About section */
.about-content-tab{
    padding: 40px;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    color: white;
    min-height: 80vh;
    background: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.text-content{
    flex: 70%;
    /* padding: 0px 5px 40px 30px; */
}
.title{
    margin-bottom: 30px;
    font-size: 40px;
}
.about-content{
    text-align: left;
    padding: 0px 70px;
    margin-top: 20px;
}
.content{
    font-size: 20px;
    padding-right: 20px;
}


/* skills section  */

.skills{
    background-color: black;
    height: 100vh;
    width: 100vw;

}

.skills-title{
    /* padding: 30px; */
    margin-bottom: 20px;
}
.skills-title p{
    color: white;
    font-size: 50px;
    text-align: center;
    
}



.card{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin: 20px; */
}
.card-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid rgba(220, 20, 60, 0.253);
    overflow: hidden;
}
.card-item:hover{
    border: 2px solid rgba(220, 20, 60, 0.74);
    box-shadow:  2px 4px 2px rgba(220, 20, 60, 0.767),2px 4px 2px rgba(220, 20, 60, 0.767),2px 4px 4px rgba(220, 20, 60, 0.767),2px 4px 2px rgba(220, 20, 60, 0.767);

}
.icon{
    font-size: 80px;
    color: crimson;
    transition: 0.5s;
}
.card-item:hover .icon{
    transform: scale(1.5);
}
.jscript{
    bottom: -40px;
}
.icon-title
{
    position: relative;
    bottom: -20px;
    font: bold;
    color: #dc143c;
}
.svg-icon{
    transition: 0.5s;
    fill: crimson;
}
.card-item:hover .svg-icon{
    transform: scale(1.5);
}
.js-icon{
    color: black;
}
.inps{
    border:2px solid #333;
}
.my-work{
    background-color: black;
    min-height: fit-content;
    width: 100vw;

}
.work-title p{
    color: white;
    font-size: 40px;
    text-align: center;
    
}
.buzz{
    color: #747474;
}
.contact{
    background-color: black;
    min-height: fit-content;
    width: 100vw;

}
.contact-title p{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    
}

.form-content{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content input{
    border: solid 2px white;
    padding: 5px 10px;
    color: white;
    background: transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 35vw;
    height: 7vh;
}
    .form-content #msg{
    text-align:start;
    border: solid 2px white;
    padding: 5px 10px;
    width: 35vw;
    border-radius: 5px;
    height: 20vh;  
    color: white;
    background: transparent;
}
.sendbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-btn{
    justify-items: end;
    border-color: white;
    padding: 10px 25px;
    color: white;
    background:transparent;
    border-radius: 15px;
    border-width: 2px;
    cursor: pointer;
    margin-top: 20px;
}
.send-btn:hover{
    color: crimson;
    border-color: crimson;
}
.inps:hover{
    border-color: #dc143c;
}
.media
{

    /* padding-top: 60px; */
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.media div{
    padding: 30px 20px;
}
.icon-med{
    color: rgb(75, 75, 75);
    font-size: 30px;
    transition: 0.5s;
}
.icon-med:hover{
    color: crimson;
    transform: scale(1.5);
}

/* Styling work section */

.main-cont{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}
.work-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.work-container .work-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: rgba(35, 35, 35, 0.40);
    border-radius: 20px;
    transition: 0.5s;
    /* box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15); */
}

.work-container .work-card:hover {
    min-height: 400px;
}

.work-container .work-card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #000000;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.work-container .work-card:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.work-container .work-card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-container .work-card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 10px 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.work-container .work-card:hover .content {
    top: 130px;
    height: 300px;
}

.work-container .work-card .content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
    padding-bottom: 10px;
}

.work-container .work-card .content p {
    color: #333;
}

.work-container .work-card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    background: var(--clr);
    color: white;
    font-weight: 500;
}

.work-container .work-card .content a:hover {
    opacity: 0.8;
    background-color: #000000;
    color: crimson;
}
.text{
    padding-top: 60px;
    justify-self: center;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

/* footer styling */

.media-footer{
    font: 10px;
    padding-right: 20px;
    width: 300px;
    color: white;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}
.footer{
    padding: 40px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}
.ftext{
    font-weight: 800;
    color: #333;
}
.ficon-med{
    color: rgb(75, 75, 75);
    font-size: 20px;
    transition: 0.5s;
}
.ficon-med:hover{
    color: crimson;
    transform: scale(1.5);
}
@media (max-width: 480px) {
    .work-container .work-card {
        width: 230px;
        border-radius: 15px;
    }

    .work-container .work-card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .work-container .work-card .content p {
        font-size: 0.8rem;
    }

    .work-container .work-card .content a {
        font-size: 0.9rem;
    }
}
